@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif, 'Arial Narrow', Arial, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    transition: background-color 0.5s;
}

section#color-display{
    background-color: rgba(0, 0, 0, 0.200);
    height: 200px;
    width: 150px;
    margin: 200px auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.384);
    padding: 5px;
    border-radius: 30px;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; /*adicionar no media query*/
}

section#color-display h1{
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.384);
    padding: 5px;
    line-height: 40px;
}

section#color-display #new-color-button{
    width: 80%;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    font-weight: bold;
    padding: 5px;
    border: none;
    border-radius: 30px;
    font-size: 1.3em;
}